body {
  margin-left: 20px;
  margin-right: 20px;
}

.no-float {
  float: none;
}

.mt30 {
  margin-top: 30px;
}

.js-validate-error-label {
  margin-top: 5px;
}

.form__radio, .form__checkbox {
  margin-right: 7px !important;
}

h1 {
  font-size: 35px;
}

h3 {
  margin-top: 30px;
  font-size: 18px;
}
